header {
  height: 40px;
  font-size: 40px;
  margin-top: 0px;
  font-family: sans-serif;
  padding-bottom: 10px;
}

img {
  height: 50px;
  width: 200px;
}

h1 {
  font-size: 20px;
  padding: 4px 0px;
  font-family: sans-serif;
  border-bottom: 1px solid;
  margin-bottom: 0px;
}

ul {
  margin-top: 5px;
  padding-left: 20px;
}

li {
  font-family: sans-serif;
  font-size: 15px;
  margin: 5px 0px;
}

p {
  font-size: 15px;
  font-family: sans-serif;
  margin: 2px 0px;
}

a {
  color: black;
}

header a {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

dt {
  font-size: 17px;
}

dl {
  font-size: 15px;
}